# Exclude virtual environment
gramformer-env/

# Exclude development files
*.ipynb
*.pyc
__pycache__/
.ipynb_checkpoints/

# Exclude large directories
.git/
.idea/
.vscode/
node_modules/

# System files
.DS_Store
Thumbs.db
.vercel
